<div class="sourate-detail container-fluid text-center">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <!-- Titre en arabe -->
      <h1 class="surah-title">{{ sourate.titre }}</h1>
      
      <a routerLink="/home" class="arrow-link">
        <i class="fas fa-arrow-left fa-3x"></i>
      </a>

      <!-- Images des pages -->
      <div class="pages mt-4">
        <div *ngFor="let page of sourate.pages">
          <img
            [src]="page.image"
            [alt]="'Page ' + page.numero"
            class="img-fluid mb-3"
          />
        </div>
      </div>

      <!-- Bouton Retour -->
      <a routerLink="/" class="btn btn-primary mt-4">Retour à la liste des sourates</a>
    </div>
  </div>
</div> 
