// Variables
$primary-color: #f9d0a3;
$text-color: #151217;
$bg-color: #A52A2A;
$bg-color-2: #3D5A6C;
$card-color: #839788;

// Global styles
body {
  background-color: $bg-color-2;
  color: $text-color;
  font-family: "Arial", sans-serif;
}

.container-fluid {
  background-color: $bg-color;

}

// Surah section styles
.surah-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: $text-color;
}

.surah-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.surah-translation {
  font-size: 1.2rem;
  color: darken($text-color, 20%);
}

.versets {
  margin-top: 2rem;

  p {
    font-size: 1.4rem;
    line-height: 1.8;
  }
}

.sourate-detail {
    padding: 20px; /* Ajuster le padding pour correspondre à la page d'accueil */
    background-color: $bg-color-2; /* Couleur de fond douce */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligner le contenu en haut */
    align-items: center; /* Centre le contenu horizontalement */
    min-height: 100vh; /* Prendre toute la hauteur du viewport */
    h1 {
        font-family: Arial, sans-serif;
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #F5DEB3;
        font-weight: 300; /* Rendre le h1 plus fin */
    }
    .text-arabe {
        margin-bottom: 5px;
        background-color: #F5DEB3;
        padding: 10px;
        padding-top: 30px;
        width: 40%;
        h3 {
            color: $text-color;
        }
        p {
            font-size: 3rem;
            line-height: 5rem;
            color: $text-color;
            font-family: 'Amiri', serif;
        }
    }
    .arrow-link {
      color: $primary-color;
      font-weight: 100; /* Rendre la flèche plus fine */
    }
}

.pages img {
    border-radius: 8px; /* Ajouter un border radius aux images */
}

.pages img {
    border-radius: 8px; /* Ajouter un border radius aux images */
}

.btn {
  background-color: $card-color; /* Couleur de fond du bouton */
  color: #F5DEB3; /* Couleur du texte */
  font-family: Arial, sans-serif; /* Même police que le nom des sourates */
  font-size: 1.2rem; /* Même taille que le nom des sourates */
  font-weight: normal; /* Enlever le gras */
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
