.sourate-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #e0f7fa; /* Couleur douce */
    padding: 20px;
  
    h1 {
      color: #2c3e50;
      font-size: 2.5rem;
      margin-bottom: 20px;
    }
  
    .text-arabe {
      margin-bottom: 20px;
      background-color: #f9f1e7;
      padding: 20px;
      border: 1px solid #e0d8c8;
      border-radius: 8px;
      width: 60%;
      text-align: right; /* Aligner le texte à droite */
      direction: rtl; /* Direction du texte arabe */
  
      @media (max-width: 768px) {
        width: 90%; /* Adapte la largeur pour mobile */
      }
  
      h3 {
        color: #8e5a3c;
        font-size: 1.8rem;
        margin-bottom: 15px;
        font-family: 'Amiri Quran', serif; /* Police pour l'arabe */
      }
  
      .verset-container {
        display: flex;
        flex-direction: column;
        gap: 10px; /* Espacement entre les versets */
      }
  
      .verset {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        line-height: 2.5;
        font-size: 1.8rem;
        color: #2c3e50;
  
        .numero {
          background-color: #fde9d2;
          color: #8e5a3c;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          margin-left: 10px; /* Espacement entre le numéro et le texte */
        }
  
        .texte {
          flex: 1;
          text-align: right; /* Texte aligné à droite */
          font-family: 'Amiri Quran', serif;
        }
      }
    }
  
    .btn {
      background-color: #8e5a3c;
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 8px;
      font-size: 1rem;
  
      &:hover {
        background-color: #6f452e;
        text-decoration: none;
      }
    }
  }
  